/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #f6f6f6;
}


header {
  background-color: #0275d8;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.img1{
  height : 80px;
  width : 250px;
  display: inline;
}
.img2{
  height : 80px;
  width : 100px;


}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease;
}

nav ul li a:hover {
  color: #f5f5f5;
}

h1 {
  font-size: 40px;
  font-weight: bold;
  margin: 20px;
  text-transform: uppercase;
}

h2 {
  font-size: 30px;
  font-weight: bold;
  margin: 40px 0 20px;
  text-align: center;
  text-transform: uppercase;
}

section {
  margin: 60px auto;
  max-width: 800px;
  padding: 40px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

section p {
  margin-bottom: 20px;
}

ol {
  margin-bottom: 20px;
}

ol li {
  margin-bottom: 10px;
}

ul {
  margin-bottom: 20px;
}

ul li {
  margin-bottom: 10px;
}

form label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

form input,
form textarea {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
  background-color: #f5f5f5;
}

form button[type='submit'] {
  background-color: #0275d8;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

form button[type='submit']:hover {
  background-color: #0062cc;
}